name: Swiftlint

on:
  workflow_call:

jobs:
  lint:
    runs-on: macOS-14
    steps:
      - name: ⬇️ Get Sources
        uses: actions/checkout@v4.1.2

      - name: Install swiftlint
        run: >
          if [[ ! -f "/usr/local/bin/swiftlint" ]]
             then
               brew install swiftlint
             fi

      - name: Swiftlint
        run: swiftlint lint
